# JetBrains Rider
.idea/
*.sln.iml
rider.module
*.user
*.userosscache
*.suo
*.suo.user
*.suo.userosscache
*.resharper
*.resharper.user
*.resharper.userosscache
*.csproj.user
*.vbproj.user
*.fsproj.user
*.userprefs
*.DotSettings
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.exe
*.dll
*.pdb
*.tmp
*.log
*.bak
*.cache
*.ncb
*.aps
*.bsc
*.sbr
*.tlb
*.tlh
*.pch
*.lib
*.obj
*.exp
*.ilk
*.idb
*.opt
*.res
*.rgs
*.rc
*.vspscc
*.vssscc
*.buildscc
*.pidb
*.resources
*.designer.cs
*.designer.vb
*.codegen
*.manifest
*.rdc
*.rptproj.rsuser
*.rptproj.rsuser.userosscache
*.deployment
*.publish
*.vsd
*.vsdx
*.vss
*.vst
*.vtx
*.vdw
*.vspscc
*.vssscc
*.buildscc
*.pidb
*.resources
*.designer.cs
*.designer.vb
*.codegen
*.manifest
*.rdc
*.rptproj.rsuser
*.rptproj.rsuser.userosscache
*.deployment
*.publish
*.vsd
*.vsdx
*.vss
*.vst
*.vtx
*.vdw

# NuGet packages
packages/
*.nupkg
*.snupkg

# Visual Studio Code
.vscode/

# Other
*.vspscc
*.vssscc
*.buildscc
*.pidb
*.resources
*.designer.cs
*.designer.vb
*.codegen
*.manifest
*.rdc
*.rptproj.rsuser
*.rptproj.rsuser.userosscache
*.deployment
*.publish
*.vsd
*.vsdx
*.vss
*.vst
*.vtx
*.vdw