button.btn-custom {
  border: 2px var(--primary-color) solid;
  color: var(--primary-color);
  background-color: #fff;
  width: 100px !important;
  height: 4em !important;
  padding: 10px !important;
  font-size: 12px !important;
  margin-left: 10px;
  margin-right: 10px;
}

button.btn-custom.acao {
  border: 2px var(--primary-color) solid;
  background-color: var(--primary-color);
  color: #fff;
}
